html {

  font-family: Lato, sans-serif;
  background-color: #FAFAFA;

}
/* Logo Estadão */
img.face {
  height: 100px;
}

img.logo {
  height: 24px;
}

.estado-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 72px;
  background-color: #fafafa;
}

.content {
  margin: auto;
  padding: 10px;
  max-width: 1200px;
}


.main-chart {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.small-multiples {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.annotations text {
  font-weight: normal;
  fill: #303030;
}

svg.small-multiple {
  background-color: #eee
}

.span-holder, .span-holder select {
    text-align: center;
    line-height: 1.7;
    font-size: 36px;
    font-family: "Lato", sans-serif;
  }

@media (max-width: 800px) {
  .span-holder, .span-holder select {
    text-align: center;
    line-height: 1.7;
    font-size: 20px;
    font-family: "Lato", sans-serif;
  }
}

.title-holder {
  font-weight: bold;
}



.bolso {

  font-weight: bolder;
  color: #60c060;

}

.dynamic {
  background-color: #f0d8a8;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: bolder;
  color: #303030;
}

.select-wrap {
  position: relative;
  display: inline-flex;
  align-items: center;
  top: -.25em;
  margin: 0 .5em;
}

.president-selector {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align-last: center;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  padding-left: 5px;
  padding-right: 18px;
  padding-bottom: 5px;
  border: 1px solid #303030;
  border-radius: 2px;
}

.chart-explainer, .paragraph {
  margin: auto;
  line-height: 1.8;
  font-family: Lato, sans-serif;
  font-size: 18px;
  max-width: 620px;
  text-align: left;
  align-items: center;
}

.paragraph {
  padding-top: 10px;
  line-height: 1.5;
}



/* 
//////////////////////
// D3 customization //
//////////////////////
                    */


/* Customizes tick font */
g.tick > text {

  font-size: 14px;

}

text.tick-highlight {

  font-size: 16px;
  font-weight: bolder;
  fill: currentColor;

}


text.ordinary-tick {

  font-size: 14px;
  font-weight: 500;
  fill: #595959;

}

line.ordinary-line {
  stroke: #595959;
  stroke-width: .5px;
}

line.highlight-line {

  stroke-width: 2px;

}

/* Customizes horizonal ticks */
g.y-axis > .tick line {

  stroke: #777;
  stroke-dasharray: 2,3;

}


