h1 {

  color: red;

}

svg {

  background-color: #FAFAFA;

}

/* Customizes tick font */
g.x-axis > g.tick text {

  font-size: 12px;

}

/* Removes first y-axis line */
g.y-axis > g.tick:first-child > line {

  display: none;

}

/* Customizes horizonal ticks */
g.y-axis > .tick line {

  stroke: #777;
  stroke-dasharray: 2,3;

}

#line-jair-bolsonaro {

  pointer-events: none;

}